<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
  </head>
  <style>
    * {
      font-family: "Kode Mono", sans-serif;
    }
    html {
      max-width: 38rem;
      padding: 3em 1em;
      margin: auto;
      line-height: 1.75;
    }
  </style>
  <body>
    <h1>Neckar News Archives</h1>
    <section>
    [ <a href="./index.html">Latest</a> | Archives:
    {% for yr in years -%}
      {%- if yr == year -%}
        {{yr - 2000}}
      {%- else -%}
        <a href="./{{ yr }}.html">{{yr - 2000}}</a>
      {%- endif -%}
      {%- if loop.last %} ] {%- else -%} | {%- endif -%}
    {%- endfor %}
    </section>
    <br>

    <section>
        {% for bm in bookmarks %}
        [{{ bm.ts[5:10] }}]
        {% if year == years[0] and loop.index0 == 50 %}
        <a id="more" href="{{ bm.url }}" title="{{ bm.title }}">
        {% else %}
        <a href="{{ bm.url }}" title="{{ bm.title }}">
        {% endif %}
          {{ bm.title | truncate(50) }}
        </a>
        <br>
        {% endfor %}
    </section>
  </body>
</html>
