<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=VT323&display=swap" rel="stylesheet">
  </head>
  <style>
    * {
      /*
      font-family: "VT323", sans-serif;
      */
      font-family: "Kode Mono", sans-serif;
    }
  </style>
  <body>
    <h1>Neckar News Archives</h1>
    [ <a href="./index.html">Latest</a>
    {% for yr in years %}
      {% if yr == year %}
      | {{yr}}
      {% else %}
      | <a href="./{{ yr }}.html">{{yr}}</a>
      {% endif %}
    {% endfor %}]
    <section>
      <ol>
        {% for bm in bookmarks %}
        <li>[{{ bm.ts }}] <a href="{{ bm.url }}" title="{{ bm.title }}">{{ bm.title | truncate(60) }}</a>
        </li>
        {% endfor %}
      </ol>
    </section>
  </body>
</html>
