<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
  </head>
  <style>
    * {
      font-family: "Kode Mono", sans-serif;
    }
    html {
      max-width: 38rem;
      padding: 3em 1em;
      margin: auto;
      line-height: 1.5;
    }
    table {
      max-width:100%;
      white-space:nowrap;
    }
    td {
      border: 0px;
      padding: 0 0 0 0;
      /*spacing: 5 5 5 5;*/
      word-wrap: break-word;
    }
  </style>
  <body>
    <h1>Neckar News</h1>
    <section>
     [ Latest | Archives:
    {% for yr in years -%}
      <a href="./{{ yr }}.html">{{yr - 2000}}</a>
      {%- if loop.last %} ] {%- else -%} | {%- endif -%}
    {%- endfor %}
    </section>
    <br>
    <section>
    <table>
        {% for bm in bookmarks %}
        <tr><td>[{{ bm.ts[5:10] }}]</td><td><a href="{{ bm.url }}" title="{{ bm.title }}">{{ bm.title | truncate(50) }}</a></td></tr>
        {% endfor %}
    </table>
    </section>
    <section>
      <a href="./{{ yr }}.html#more">...</a>
    </section>
  </body>
</html>
